{% extends 'base.html' %} {% block header %}
<h1 class="text-center uppercase text-2xl">
  {% block title %}New Movie{% endblock %}
</h1>
{% endblock %} {% block content %}
<form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
  <div>
    <label for="title" class="block text-sm font-semibold leading-6 text-black"
      >Title</label
    >
    <div class="mt-2.5">
      <input
        type="text"
        name="title"
        id="title"
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
      />
    </div>
  </div>
  <div>
    <label
      for="description"
      class="block text-sm font-semibold leading-6 text-black"
      >Description</label
    >
    <div class="mt-2.5">
      <textarea
        type="text"
        name="description"
        id="description"
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
      ></textarea>
    </div>
  </div>
  <div>
    <label
      for="director"
      class="block text-sm font-semibold leading-6 text-black"
      >Director</label
    >
    <div class="mt-2.5">
      <input
        type="text"
        name="director"
        id="director"
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
      />
    </div>
  </div>
  <div>
    <label
      for="characters"
      class="block text-sm font-semibold leading-6 text-black"
      >Characters</label
    >
    <div class="mt-2.5">
      <input
        type="text"
        name="characters"
        id="characters"
        class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
      />
    </div>
  </div>
  <div class="mt-10">
    <button
      type="submit"
      class="block w-full rounded-md bg-cyan-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
    >
      Create
    </button>
  </div>
</form>
{% endblock %}
