{% extends 'base.html' %} {% block header %}
<h1 class="uppercase mb-4">{% block title %}Nội dung phim{% endblock %}</h1>
<hr />
{% endblock %} {% block content %}

<div class="max-w-[80%] mx-auto mt-4">
  <article class="flex gap-4">
    <img src="{{ movie.poster }}" />
    <div class="flex flex-col gap-2 flex-1">
      <h2 class="uppercase text-xl">{{ movie.title }}</h2>
      <p>Đạo diễn: {{ movie.director }}</p>
      <p>Diễn viên:</p>
      <p>Thể loại: {{ movie.genre }}</p>
      <p>Ngày khởi chiếu: {{ movie.release_date }}</p>
      <p>Thời lượng: {{ movie.duration }}</p>
      <p>Ngôn ngữ: {{ movie.language }}</p>
      <p>Đánh giá: {{ movie.rating }}</p>
      <p>Rated:</p>
      <hr />
      <div class="">
        <button class="bg-red-700 text-white px-6 py-2 rounded-md font-bold">
          Mua vé
        </button>
      </div>
    </div>
  </article>
  <div class="text-center">
    <button>Trailer</button>
  </div>
  <p>{{ movie.description }}</p>
  {% endblock %}
</div>

<script></script>
